@media screen and (max-width: 1024px) and (min-width: 900px) {
  .dayowner h3 {
    width: 100%;
  }

  .profile-menu {
    flex-wrap: wrap;
  }

  .profile-menu li {
    padding-bottom: 10px;
  }

  .reminder-col h2 {
    font-size: 14px;
  }
  
  .data p {
    font-size: 12px;
  }

}

@media screen and (min-width:1025px) and (max-width: 1438px) {
  .profile-nav-main {
    width: 90%;
  }
  
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .logo {
    width: 50%;
  }

  #logo {
    margin: 2% 64px 0 42%;
  }

  .hero-desc {
    width: 64%;
    top: 14%;
    left: 34%;
  }

  .hambuger {
    width: 30px;
    position: relative;
    left: 40%;
  }

  .bar {
    display: block;
    border: 1px solid var(--white-text);
    width: 100%;
    margin: 10px 0;
  }

  .mobile-menu {
    width: 100%;
    background-color: var(--white-text);
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 20px;
    height: 100vh;
  }

  ul.menu-mobile {
    list-style: none;
    padding-top: 40px;
    animation: fadeUp .5s linear;
  }

  .menu-mobile li {
    margin-bottom: 30px;
    font-size: 16px;
  }

  li.menu-cta-login {
    width: 35%;
  }

  li.menu-cta-signup {
    width: 35%;
    margin-left: 0;
  }

  .bar-close {
    background-color: var(--theme-color);
    display: block;
    width: 30%;
    height: 2px;
  }

  .bar-close:nth-child(1) {
    margin-bottom: 6px;
    width: 16%;
  }

  .close {
    float: right;
    width: 10%;
  }

  .ft-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ft-main_col,
  .ft-main_col:nth-child(1) {
    width: 50%;
    padding-bottom: 20px;
  }

  .ft-copyright-text {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ft-copyright-text p,
  .ft-copyright-text p:nth-child(1) {
    width: 50%;
    margin-bottom: 15px;
  }

  .ft-copyright-text p:last-child {
    padding-top: 10px;
  }

  .ft-copyright {
    padding: 0;
  }

  .hero img {
    margin-top: 0;
  }


  .feature-logo figure {
    width: 30%;
    padding-bottom: 20px;
    margin: auto;
  }

  .feature-logo {
    display: flex;
    flex-flow: wrap;
  }

  .howitworks-main {
    flex-direction: column;
  }

  .howitworks-main_ {
    border: none;
    width: 80%;
  }

  .howitworks-main_:nth-child(1), 
  .howitworks-main_:nth-child(2) {
    border: none;
  }

  .daycare-display {
    flex-direction: row;
  }

  .daycares-card {
    width: 45%;
  }

  .testi-main {
    display: flex;
    flex-direction: column;
  }

  .testi-main-card {
    width: 80%;
    margin: 20px auto;
    padding: 40px 20px;
  }

  .about {
    flex-direction: column;
  }

  .about-img {
    width: 80%;
    margin: auto;
  }

  .about-content {
    width: 80%;
    padding: 50px 0 20px;
    text-align: center;
    margin: auto;
  }

  .about-content p {
    width: 100%;
  }

  .hero-desc-provider {
    width: 55%;
    top: 12%;
    left: 44%;
  }

  .partner-logo {
    width: 100%;
  }

  .prreg-main {
    flex-direction: column;
  }

  .logo-pr img {
    position: static;
  }

  .prreg-main-img {
    width: 100%;
  }

  .prreg-main-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .prreg-main-form {
    width: 90%;
    margin: auto;
  }

  .profile-menu {
    flex-wrap: wrap;
    line-height: 50px;
  }

  .profile-menu .active:after {
    height: 3px;
    margin: -13px auto 0;
    border-radius: 2px;
  }

  .switch {
    width: 70px;
  }

  .slider:before {
    bottom: 0;
  }

  .tour-card {
    width: 48%;
  }

  .waitlist {
    flex-wrap: wrap;
  }

  .provider-message {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }

  .provider-message--col h3 {
    font-size: 17px;
  }

  .analytics-graph {
    width: 90%;
  }

  .graph-chart {
      width: 90%;
  }

  .analytics-row {
      flex-wrap: wrap;
  }

  .analytics-data-col {
    width: 40%;
    margin-bottom: 60px;
  }

  .reviewd-hld {
    flex-direction: column;
  }

  .review-hld--main {
    width: 100%;
  }

  .review-form--heading h4 {
    margin-left: 40px;
  }

  .about-img img {
    border-radius: 0;
  }

  .abt-profile {
    flex-direction: column;
    margin-bottom: -20px;
  }

  .abt-pic {
    width: 100%;
    margin-bottom: 20px;
  }

  .abt-pic:nth-child(2) {
    margin-left: 0;
  }

  .abt-value {
    padding: 0;
  }

  .abt-value p {
    width: 100%;
  }

  .dir p {
    width: 100%;
  }

  .form-group--jb {
    width: 100%;
  }

  #landing-parent {
    height: 50vh;
    width: 100%;
    background-size: cover;
  }

  #landing {
    flex-direction: column;
  }

  #landing-provider {
    height: 50vh;
    width: 100%;
  }

  .landing-text h2 {
    font-size: 40px;
    text-align: center;
    margin: -15% 0 3% 20%;
    text-shadow: 2px 2px #33333329;
    line-height: initial;
  }

  .landing-btn {
    margin: 20% 0 0 35%;
  }

  .landing-text {
    top: 72%;
  }

  .hero-desc-provider h1 {
    width: 100%;
  }

  #pr-btn {
    width: 80%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-control {
    width: 47%;
  }

  .contact-control:nth-child(1) {
    margin-right: 15px;
  }

  .daycare {
    flex-direction: column;
  }

  .daycare-pictoral {
    width: 100%;
  }

  .dayowner h3 {
    width: 60%;
  }

  .daycare-info {
    width: 100%;
  }

  .otherd {
    width: 100%;
  }

  .daycare-avatar {
    width: 15%;
    text-align: left;
    margin-top: 0px;
    margin-left: 30px;
  }

  .otherd h3 {
    margin: 20px 35px;
  }

  .email-verify--m p {
    width: 100%;
  }

  .pro-resources_main {
    flex-direction: column;
  }

  .pro-res {
    width: 100%;
  }

  .pro-res figcaption {
    text-align: center;
    margin: auto;
    width: 60%;
  }

  .form-group-up {
    width: 47%;
    margin-right: 10px;
  }

  .form-group-up select {
    width: 100%;
  }

  .virtual-images {
    width: 100%;
    flex-wrap: wrap;
  }

  .form-feat-label {
    width: 45%;
  }

  .pr-btn {
    width: 30%
  }

  .reminder {
    flex-wrap: wrap;
  }

  .reminder-col {
    width: 100%;
  }

  .reminder-col:nth-child(2) {
    width: 100%;
  }

  .reminder-col:nth-child(4),
  .reminder-col:nth-child(5) {
    width: 100%;
  }

  /* New */

  .dropdown {
    display: block;
    position: inherit;
    right: 0;
    background: #FFFFFF;
    border-radius: 7px;
    padding: 0;
    margin-right: 94px;
    box-shadow: none;
  }

  .dropdown li a {
    color: var(--theme-color);
  }

  .nav-avatar > a {
    display: none;
  }

  .menu-mobile li a {
    font-size: 30px;
    font-weight: 600;
  }

  .sub-cards {
    flex-direction: column;
  }

  .sub-card {
    width: 90%;
    margin-bottom: 50px;
  }

  .prreg_notifier p {
    display: none;
  }

  .prreg_notifier__mobile {
    display: block;
    width: 100%;
    padding-top: 20px;
  }

  .prreg_notifier__mobile p {
    text-align: center;
    font-size: 0.8rem;
    width: 70%;
    margin: auto;
  }
  
  .lg-action {
    flex-direction: column;
  }
  
  .form-forgot {
      padding-top: 15px;
  }
  
  .anchor {
    display: none;
  }
  
  .waitlist-col {
    margin-top: 50px;
  }

}

@media screen and (max-width: 600px) {
  .daycares-card {
    width: 100%;
  }

  .hero-desc {
    width: 85%;
    top: 15%;
    left: 9%;
  }

  .hero-desc h1 {
    font-size: 30px;
  }

  .search-form {
    padding-top: 0;
  }

  .homesearch {
    padding: 13px 17px;
  }

  .homesubmit {
    padding: 13px 26px;
  }

  .feature-logo figcaption {
    width: 100%;
    font-size: 14px;
  }

  .features {
    padding: 50px 0 50px;
  }

  .features h2 {
    padding: 0 30px;
    font-size: 25px;
  }

  .hambuger {
    width: 20px;
  }

  .d-none {
    display: none;
  }

  .bar-close {
    background-color: var(--theme-color);
    display: block;
    width: 30%;
    height: 2px;
  }

  .bar-close:nth-child(1) {
    margin-bottom: 6px;
    width: 16%;
  }

  .close {
    float: right;
    width: 20%;
  }

  .howitworks-main { 
    padding: 0 0 50px
  }

  .prreg-main-form {
    width: 90%;
  }

  .form-group {
    width: 90%;
  }

  .other-signup {
    width: 60%;
    margin: 40px auto 0;
  }

  .pr-submit {
    width: 95%;
  }

  .form-group-pr {
    width: 100%;
  }

  .form-group-fr {
    width: 95%;
  }

  .l-h { 
    padding-top: 20px;
  }

  #si {
    width: 100%;
  }

  .profile-menu li a {
    margin: 0 15px;
  }

  .schedule_ctrl {
    width: 64%;
  }

  .schedule_ {
    flex-direction: column;
  }

  .switch {
    width: 50px;
  }

  .schedule_ctrl {
    width: 100%;
    padding: 10px 0;
  }

  .pr-btn {
    width: 30%;
  }

  .tour-card {
    width: 100%;
  }

  .tour-form {
    width: 80%;
  }

  .analytics-data-col {
    width: 100%;
  }

  .ft-main_col,
  .ft-main_col:nth-child(1) {
    width: 100%;
  }

  .ft-copyright-text p,
  .ft-copyright-text p:nth-child(1) {
    width: 50%;
  }

  .ft-main {
    flex-direction: column;
  }

  .ft-copyright-text {
    flex-direction: column;
  }

  .abt h2 {
    margin-left: 0;
  }

  .abt-pic {
    display: flex;
    flex-direction: column;
  }

  .abt-pic img {
    width: 100%;
  }

  .abt-profile--details {
    width: 85%;
    text-align: left;
    padding: 20px 10px;
  }

  .accordion {
    padding: 20px 10px;
    font-size: 17px;
  }

  .landing-text {
    top: 50%;
  }

  .landing-text h2 {
    font-size: 30px;
  }

  #logo {
    width: 30%;
    margin: 10% 64px 0 36%;
  }

  .landing-text h2 {
    margin: -10% 0 6% 20%;
  }

  .landing-text {
    text-align: center;
  }

  .landing-btn {
    margin: 0;
    font-size: 13px;
    padding: 15px;
  }

  .brand {
    width: 100%;
    text-align: center;
  }

  .hero-desc-provider {
    width: 92%;
    left: 6%;
    top: 24%;
  }

  .hero-desc-provider h1 {
    font-size: 30px;
  }

  #pr-btn {
    width: 85%;
  }

  .partner-logo figure {
    width: 33%;
  }

  .partner-logo figcaption {
    width: 100%;
    font-size: 14px;
  }

  .error-text {
    width: 100%;
    top: 10%;
  }

  .error-text h2 {
    font-size: 9rem;
  }

  .jobs-post {
    width: 43%
  }

  .jobs-post h3 {
    font-size: 18px;
    margin-left: 20px;
  }

  .contact-control {
    width: 100%;
  }

  .contact-control:nth-child(1) {
    margin-right: 0;
  }

  #contact-control-message {
    width: 95%;
  }

  .other-tour div {
    justify-content: space-between;
    margin-right: 0;
  }

  .bread-nav {
    flex-direction: column;
  }

  ul.breadcrumb {
    padding: 0;
    margin-bottom: 15px;
  }

  ul.breadcrumb li {
    font-size: 14px;
  }

  .drop-down {
    margin: auto 80px;
  }

  .dayowner {
    flex-direction: column;
    width: 60%;
    margin: auto;
  }

  .dayowner h3 {
    width: 80%;
    text-align: center;
  }

  .other-dy--info {
    margin-left: 50px;
  }

  .parent-review-hld {
    height: 70px;
  }
  
  .review-cta--left p:nth-child(1) {
    width: 40%;
  }

  .review-cta--left p {
    width: 20%;
    font-size: 12px;
  }

  .parent-search--main {
    flex-direction: column;
  }

  .search-icon {
    width: 80%;
  }

  .search-daycare {
    width: 100%;
    text-align: center;
  }

  .search-form input {
    width: 37%;
    border-radius: 5px;
  }

  .search-form .homesubmit {
    width: 100%;
    margin: 10px auto 0;
    border-radius: 5px;
  }

  .review-form--heading h3 {
    margin-left: 20px;
  }

  .form-group-up {
    width: 100%;
  }

  .fileupload {
    width: 15%;
  }

  .half {
    width: 100%;
  }

  .service-label {
    width: 100%;
  }

  .virtual-images span {
    margin: 20px auto 20px auto;
  }

  .form-feat-label {
    width: 100%;
  }

  .privacy-content--main {
    width: 100%;
  }

  .pro-resources_nav, .privacy-content_nav {
    width: 90%;
    position: absolute;
    padding-bottom: 0;
  }

  .privacy-content--main {
    width: 100%;
    margin-top: 150px;
  }

  .privacy-main--hero img {
    height: 200px;
  }

  .waitlist-col {
    width: 100%;
    margin-bottom: 20px;
  }

  .pro-resources {
    padding: 0;
  }

  .pro-resources_main {
    margin-top: 180px;
  }

  .pro-resources_main {
    width: 100%;
  }

  .pr-btn {
    width: 50%;
  }

  .value {
    width: 100%;
  }
  
  .hero img {
    margin-top: 0;
    height: 350px;
    object-fit: cover;
  }

  input#search {
    width: 100%;
  }

  .tableHead tr th {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tablerow td {
    display: flex;
    flex-direction: column;
    width: 91%;
  }

  .pTable .privacy-table {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  /* New */

  .menu-mobile li a {
    font-size: 25px;
  }
  
}

@media screen and (max-width: 375px) {

  /* .hero img {
    margin-top: 0;
    height: 220px;
    object-fit: cover;
  } */

  .hero-desc {
    top: 22%;
  }

  .logo img {
    width: 40%;
  }

  .hero-desc h1 {
    font-size: 25px;
  }
  
  .profile-menu li a {
    margin: 0 10px;
  }

  .abt-profile--details {
    width: 80%;
  }

  .ft-copyright-text p, .ft-copyright-text p:nth-child(1) {
    width: 100%;
  }
  
  #logo img {
    width: 100%;
  }

  .hero-desc-provider {
    width: 100%;
    left: 7px;
  }

  .hero-desc-provider h1 {
    font-size: 29px;
    text-align: left;
  }

  .tableHead tr th {
    width: 91%;
  }

}

@media screen and (max-width: 320px) {
  .hero-desc {
    width: 80%;
  }

  .hero-desc h1 {
    font-size: 20px;
  }

  .homesubmit {
    padding: 13px 8px;
  }

  .feature-logo figure {
    width: 35%;
  }

  .other-signup {
    width: 80%;
  }

  .jobs-post {
    width: 90%;
  }

  .re-vrf {
    padding: 12px 15px;
  }

  .search-form input {
    width: 34%;
  }

  .hero-desc-provider {
    top: 19%;
  }

  .pro-resources_nav, 
  .privacy-content_nav {
    width: 80%;
  }

  #pr-btn {
    width: 80%;
  }
  
  
}