* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  outline: 0;
}

body{
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

main {
  animation: fadeEffect .3s;
}

p {
  line-height: 27px;
}

button {
  border: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  height: 1.2em;
  width: 1.2em;
  border: 2px solid var(--theme-color);
  cursor: pointer;
  border-radius: 2px;
}

input[type="checkbox"]:after {
  content: "\2714";
  color: var(--white-text);
  font-family: inherit;
  margin-top: -2px;
  display: none;
}

input[type="checkbox"]:checked {
  background-color: var(--theme-color);
}

input[type="checkbox"]:checked:after {
  display: block;
}

/* Radio button style */

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  height: 1em;
  width: 1em;
  border: 2px solid var(--theme-color);
  border-radius: 100%;
  cursor: pointer;
}

input[type="radio"]:after {
  content: "";
  height: 10px;
  width: 10px;
  color: var(--theme-color);
  font-family: inherit;
  display: none;
}

input[type="radio"]:checked {
  height: 1em;
  width: 1em;
  background-color: var(--theme-color);
}

input[type="radio"]:checked:after {
  border: 2px solid var(--white-text);
  border-radius: 100%;
  height: 5px;
  width: 5px;
  display: block;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes grow {
  0% {
    width: 0;
  }

  50% {
    width: 20%;
  }

  100% {
    width: 40%;
  }
}

@keyframes borderBottom {
  0% {
    width: 0;
    margin: auto;
  }

  50% {
    width: 50%;
    margin: auto;
  }

  100% {
    width: 100%;
    margin: auto;
  }
}

@keyframes fadeUp {
  0% {
    top: 50%;
    opacity: 0;
  }

  50% {
    top: 40%;
    opacity: 1;
  }

  100% {
    top: 35%;
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

:root {
  --white-text: #fff;
  --theme-color: #02A2AF;
  --theme-hover-color: #02a2afe3;
  --theme-hover-deep: #01929d;
}

p + p {
  margin-top: 1rem;
}

.nav-bar {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.nav-bar-rel {
  width: 100%;
  position: relative;
}

.main-nav {
  width: 90%;
  margin: 1em auto;
  display: flex;
}

.logo {
  width: 30%;
}

.logo img {
  width: 35%;
  vertical-align: middle;
}

#logo {
  width: 20%;
  margin: 10% 64px 0 42%;
  position: absolute;
}

#logo img {
  width: 80%;
}

.menu {
  width: 70%;
  text-align: right;
  margin: auto;
}

.menu-list li,
.menu-list-light li {
  list-style-type: none;
  display: inline-block;
  padding-right: 15px;
  margin-top: 0.3em;
}

.menu-list li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.menu-list-light a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--white-text);
  font-size: 14px;
  font-weight: 600;
}

li.menu-cta-login  {
  border: 2px solid #02A2AF;
  padding: 7px 25px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.d-none {
  display: none;
}

/**Now**/

li.menu-cta-login:after,
li.menu-cta-login:before {
  content: "";
  transition: inherit;
  z-index: -1;
}

.menu-cta-login:hover {
  background: var(--theme-hover-deep);
  border-color: var(--theme-hover-deep);
}

.menu-cta-login a:hover {
  color: var(--white-text);
}

/** Now **/

li.menu-cta-login a {
  color: #02A2AF;
}

li.menu-cta-signup {
  background-color: #02A2AF;
  border: 2px solid #02A2AF;
  padding: 7px 25px;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.menu-cta-signup:hover {
  background-color: var(--theme-hover-deep);
  border-color: var(--theme-hover-deep);
}

li.menu-cta-signup a {
  color: var(--white-text);
}

.menu-list li a:after{
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in;
}

.menu-list li a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
  /* animation: borderBottom 0.3s linear; */
}

.menu-list-light a:after{
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
}

.menu-list-light a:hover:after {
  display: block;
  transform: scaleX(1);
  /* animation: borderBottom 0.3s linear; */
}

li.menu-cta-login a:after, 
li.menu-cta-signup a:after,
li.nav-avatar a:after {
  height: 0;
}

/* Footer */

.ft {
  background-color: #02A2AF;
  padding: 50px 0 30px;
}

.ft-main {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 30px;
}

.ft-main_col {
  width: 20%;
}

.ft-main_col:nth-child(1) {
  width: 30%;
}

.ft-main_col h5 {
  color: var(--white-text);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
}

ul.col-list li {
  list-style-type: none;
  transition: .5s;
}

.col-list li a {
  list-style-type: none;
  text-decoration: none;
  color: var(--white-text);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 35px;
  transition: .5s;
}

.col-list li a:hover {
  padding: 0 10px 0 5px;
}

.ft-copyright {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 0;
  display: flex;
}

.ft-copyright-text {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ft-copyright-text p {
  width: 18%;
  margin: auto 0;
  color: var(--white-text);
  text-transform: capitalize;
}

.ft-copyright-text p small a {
  color: var(--white-text);
}

.ft-copyright-text p:nth-child(1) {
  width: 27%;
}

.ft-copyright-text img {
  margin-right: 30px;
  width: 18px;
  transition: transform .5s;
}

.ft-copyright-text img:hover {
  transform: scale(1.1);
}


.hero {
  width: 100%;
  display: block;
}

.hero img {
  width: 100%;
  margin-top: -80px;
  filter: brightness(0.5);
  z-index: -9999;
}

.hero-desc {
  width: 44%;
  position: absolute;
  top: 35%;
  left: 56%;
  animation: fadeUp 1s linear 1s;
  transition: animation .5s ease-in-out;
}

.hero-desc h1 {
  color: var(--white-text);
  font-size: 50px;
}

.homesearch {
  padding: 18px 30px;
  width: 55%;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-form {
  padding-top: 30px;
}

#pr-btn {
  padding: 16px 20px;
}

.homesubmit {
  padding: 18px 30px;
  background-color: #02A2AF;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0 5px 5px 0;
  margin-left: -10px;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}

.homesubmit:hover {
  background-color: var(--theme-hover-deep);
}

.homesearch::placeholder {
  color: var(--theme-color);
  font-weight: 500;
}

.features {
  padding: 50px 0 100px;
  width: 100%;
}

.features h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
}

.feature-logo {
  text-align: center;
  padding-top: 50px;
  display: flex;
  width: 90%;
  margin: auto;
}

.feature-logo figure {
  width: 17%;
}

.feature-logo img {
  margin: 0 15px;
}

.feature-logo figcaption {
  width: 70%;
  margin: auto;
  font-weight: 500;
}

.howitworks {
  width: 100%;
  padding-bottom: 50px;
}

.howitworks h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.howitworks-main {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 25px 0 50px;
}

.howitworks-main_ {
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 0 15px;
  height: 300px;
}

.howitworks-main_ h3:nth-child(1) {
  font-size: 75px;
  color: var(--theme-color);
  font-weight: 600;
  text-align: center;
}

.howitworks-main_ h3:nth-child(2) {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}

.howitworks-main_ h3:nth-child(2):after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: var(--theme-color);
  margin: 10px auto 0;;
}

.howitworks-main_:nth-child(1), .howitworks-main_:nth-child(2) {
  border-right: 3px solid var(--theme-color);
}

.daycares {
  width: 100%;
  padding: 30px 0 50px;
  background-color: #fafafa;
}

.daycares h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 35px;
  margin-top: 25px;
}

.daycare-display {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.daycares-card {
  width: 30%;
  margin: 0 15px;
  padding-bottom: 30px;
  background-color: #fff;
  margin: 0 15px 50px;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.daycare-centre {
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.daycare-city {
  font-size: 15px;
  padding: 5px 0;
}

.daycare-detail {
  padding: 10px 15px;
}

.ratings {
  font-weight: 500;
  font-size: 15px;
  color: #000;
  margin-top: 12px;
}

.ratings img {
  width: 30%;
  vertical-align: middle;
}

.daycare-name {
  font-size: 20px;
  font-weight: 600;
}

.testi {
  width: 100%;
  padding: 50px 0;
}

.testi h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.testi-main {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
}

.testi-main-card img {
  height: 100px;
  border-radius: 62%;
  width: 100px;
}

.testi-main-card {
  background-color: #fff;
  box-shadow: -1px 5px 26px rgba(0, 0, 0, 0.15);
  padding: 40px;
  width: 30%;
  margin: 20px;
  transition: .5s ease-in-out;
}

.testi-main-card:hover {
  box-shadow: -1px 5px 26px rgb(0 0 0 / 8%);
}

.test-card-name {
  font-size: 24px;
  color: var(--theme-color);
  font-weight: 600;
  padding-top: 10px;
}

.testi-card-content {
  font-weight: 500;
  color: #727272;
  padding-top: 20px;
  font-size: 18px;
  text-transform: capitalize;
}

.testifier {
  color: #727272;
  font-weight: 400;
}

.about {
  width: 100%;
  padding: 50px 0 150px;
  display: flex;
}

.about-img {
  width: 50%;
}

/* .about-img img {
  width: 100%;
  border-radius: 0 50px 50px 0px;
} */

.about-img img {
  width: 100%;
  /* border-radius: 0 50px 50px 0px; */
  /* height: 400px; */
  object-fit: cover;
  box-shadow: 0px 3px 10px #33333321;
}

.about-content {
  width: 50%;
  padding: 40px 30px 0 35px;
}

.about-content h2 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 30px;
}

.about-content p {
  color: #727272;
  padding: 10px 0 30px;
  line-height: 28px;
  width: 90%;
}

.cc-btn {
  background-color: var(--theme-color);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
  color: var(--white-text);
  font-weight: 600;
  font-size: 16px;
  transition: .5s ease-in-out;
}

.cc-btn:hover {
  background-color: var(--theme-hover-deep);
}

.hero-desc-provider {
  width: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  animation: fadeUp 1s linear;
  transition: animation .5s;
}

.hero-desc-provider h1 {
  color: var(--white-text);
  font-size: 50px;
  width: 70%;
}

.hmzip {
  padding: 10px 20px;
  border: none;
  border-right: 1px solid rgba(68, 68, 68, 0.18);
}

.hmzip::placeholder {
  color: var(--theme-color);
  font-weight: 600;
}

.bizname {
  padding: 10px 20px;
  border: none;
  margin-left: -3px;
}

.bizname::placeholder {
  color: var(--theme-color);
  font-weight: 600;
}

.formwrap {
  background-color: #fff;
  padding: 16px 0;
}

.partner-logo {
  text-align: center;
  padding-top: 50px;
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
}

.partner-logo figure {
  width: 25%;
}

.partner-logo figcaption {
  width: 70%;
  margin: auto;
  font-weight: 500;
}

.logo-pr {
  width: 30%;
  position: relative;
  top: 25px;
  z-index: 3;
}

.logo-pr img {
  position: fixed;
  top: 25px;
}

.prreg_notifier {
  width: 70%;
  text-align: right;
}

.prreg_notifier p {
  color: #999;
  font-weight: 500;
  font-size: 16px;
}

.notifier {
  color: var(--theme-color);
  text-decoration: none;
}

/* .notifier:after {
  content: "";
  height: 2px;
  background-color: var(--theme-color);
  width: 4%;
  position: relative;
  right: 60px;
  bottom: 0;
  top: 40px;
}

.notifier:hover:after {
  display: block;
  animation: borderBottom 0.2s linear;
} */

.prreg-main {
  display: flex;
}

.form-group {
  width: 45%;
  margin-right: 20px;
}

.form-control {
  width: 90%;
  padding: 14px 15px;
  margin: 10px 0 20px;
  background-color: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
}

.prreg-main-form {
  width: 50%;
  padding: 4% 0 10% 3%;
}

.prreg-main-img img {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.95);
}
.prreg-main-img {
  width: 50%;
}

.regform {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.prreg-main-form h1 {
  color: var(--theme-color);
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 30px 0 50px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 30px;
}

#checktext {
  font-size: 14px;
  margin: 0 10px;
  vertical-align: text-bottom;
}

.pr-submit {
  padding: 15px;
  width: 50%;
  background-color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}

.other-signup {
  height: 40px;
  margin-top: 30px;
  vertical-align: middle;
  margin-left: 5%;
  width: 45%;
}

.other-signup img {
  width: 24%;
  margin-left: 16px;
  height: 40px;
  margin-top: 4px;
}

.te {
  vertical-align: 13px;
}

#si {
  width: 60%;
}

.form-forgot {
    width: 100%;
}

.form-forgot a {
  color: #333;
  text-decoration: underline;
}

.border-top {
  margin-top: 30px;
}

.border-top {
  width: 94%;
  border-top: 1px solid var(--theme-color);
}

.border-top h3 {
  color: var(--theme-color);
  font-size: 24px;
  font-weight: 600;
  padding: 30px 0;
}

.form-group-fr {
  width: 98%;
}

.form-group-fr label {
  font-weight: 500;
  margin-bottom: 30px;
}

.form-group-pr {
  width: 45%;
  margin-right: 20px;
}

.form-group-pr label {
  font-weight: 500;
  margin-bottom: 30px;
}

.l-h {
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 60px;
}

.prlabel-radio {
  margin: 0 16px 0 6px;
}

#adpr {
  padding: 30px 0 0;
  width: 100%;
}

.prlabel-radio {
  font-size: 14px;
}

.hero-pr img {
  width: 100%;
}

.hero-pr {
  width: 100%;
}

.profile-nav {
  width: 100%;
}

.profile-nav-main {
  width: 95%;
  margin: auto;
}

.profile-menu {
  display: flex;
  list-style-type: none;
}

.profile-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #c4c4c4;
  font-weight: 600;
  margin: 0 20px;
  transition: color .5s ease-in-out;
}

.profile-menu li a:hover {
  color: #333;
}

.profile-nav {
  width: 100%;
  padding: 20px 0 0;
  margin-top: -7px;
  background-color: #fff;
}

.profile-menu .active a {
  color: #333;
}

.profile-menu .active:after {
  content: "";
  display: block;
  height: 5px;
  width: 70%;
  background-color: var(--theme-color);
  margin: auto;
  border-radius: 2px 2px 0 0;
}

.profile-main {
  background-color: #f4f4f4;
  padding: 50px 0;
  width: 100%;
}

.profile-accordion {
  width: 90%;
  margin: auto;
}

.accordion {
  background-color: #fff;
  width: 100%;
  text-align: left;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 700;
  max-height: 200px;
  color: #333;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

.panel {
  padding: 10px 40px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.09);
}

.accordion:after {
  content: url(../img/downarrow.svg);
  background-size: 10px;
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url(../img/arrowup.svg);
}

.acc-holder {
  margin: 30px 0;
}

.updateform {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group-up {
  width: 50%;
  padding: 20px 0;
}

.form-group-up label {
  font-weight: 700;
}

.acc-holder p {
  font-weight: normal;
  color: #000;
  width: 100%;
  margin-bottom: 20px;
}

.btn-holder {
  width: 100%;
  padding: 20px 0;
}

.pr-btn {
  width: 15%;
  background-color: var(--theme-color);
  padding: 15px;
  border: var(--theme-color);
  color: var(--white-text);
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

#more-li {
  width: 100%;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.form-label-up {
  padding: 1rem 0;
}

.form-label.full {
  width: 100%;
  margin-top: 10px;
}

.hide {
  visibility: hidden;
}

.form-group-full {
  width: 100%;
}

.form-group-full h3 {
  font-size: 16px;
}

.form-group-up h3 {
  font-size: 16px;
}

.service-label label {
  margin-left: 10px;
}

.service-label {
  width: 50%;
  padding-bottom: 20px;
}

.light {
  font-weight: 400;
}

.profile-menu li img {
  margin: 0 10px;
  vertical-align: middle;
}

.border-top-dark {
  width: 100%;
  border-top: 0.5px solid #333;
  padding-bottom: 20px;
}

.form-break {
  width: 100%;
}

#showrate-pg {
  font-weight: 700;
}

.upload-holder {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  border: 2px dashed var(--theme-color);
  padding: 50px 0;
}
.img-holder {
  width: 100%;
}

.img-holder:hover {
  filter: brightness(0.5);
}

.img-holder img {
  width: 70%;
}

#cancel, #remove {
  position: absolute;
  right: 16%;
  top: 3%;
  cursor: pointer;
}

.fileupload::-webkit-file-upload-button {
  visibility: hidden;
}

.fileupload:before {
  content: "browse";
  color: var(--theme-color);
  font-weight: 700;
  outline: none;
}

.fileupload {
  color: transparent;
  width: 5%;
  padding: 0 5px;
  vertical-align: text-top;
  cursor: pointer;
}

.other-images {
  display: flex;
  width: 90%;
}

.other-images span {
  border: 2px dashed var(--theme-color);
  padding: 50px;
  margin: 20px 20px 20px 0;
}

.form-group-fl {
  font-weight: 700;
  width: 100%;
}

.service-label h3 {
  font-size: 16px;
}

.border-top-dark>h3 {
  padding: 20px 0 0;
}

.half {
  width: 50%;
}

.virtual-images {
  display: flex;
  width: 90%;
}

.virtual-images span {
  /* border: 2px dashed var(--theme-color); */
  width: 160px;
  height: 120px;
  margin: 20px 20px 20px 0;
  text-align: center;
  display: inherit;
}

.virtual-images span .dropify-wrapper {
  height: 100px;
}

.virtual-images span .dropify-message .file-icon p {
  font-size: 12px;
  width: 85%;
  margin: auto;
}

span.dropify-render {
  height: 100px;
}

#v-tour {
  margin-left: 10px;
}

#v-tour p{
  color: #333;
}

.form-feat-label {
  width: 30%;
  margin: 20px 30px 10px 0;
  font-size: 15px;
}

.waitlist {
  background-color: #fff;
  width: 90%;
  margin: 50px auto;
  padding: 50px 0;
  display: flex;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
}

.waitlist-col h2,
.analytics-data-col h2 {
  font-size: 18px;
  color: #333;
}

/*.waitlist-col {*/
/*  width: 25%;*/
/*  padding: 0 0 0 50px;*/
/*}*/

.waitlist-col {
    width: 25%;
    padding: 0 0 0 15px;
    margin-right: 15px;
}

.waitlist-col .data {
    padding-top: 50px;
}

.waitlist-col:nth-child(6) .data {
    padding-top: 35px;
}

.accept {
  background-color: var(--theme-color);
  padding: 10px 16px;
  border: none;
  color: var(--white-text);
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  transition: .5s ease-in-out;
  font-size: 13px;
}

.accept:hover {
  background-color: var(--theme-hover-deep);
}

.reject {
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  background-color: #fff;
  padding: 9px 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  transition: .5s ease-in-out;
  font-size: 13px;
}

.reject:hover {
  background-color: var(--theme-hover-color);
  color: var(--white-text);
}

.data {
    padding-top: 30px;
    display: flex;
}

.schedule {
  width: 90%;
  margin: auto;
  background-color: var(--white-text);
  padding: 50px 0;
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
  border: 1px solid rgba(196, 196, 196, 0.2);
  border-radius: 7px;
}

.schedule-main {
  width: 90%;
  margin: auto;
}

.schedule-main h2 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

.schedule-main_ctrl h3 {
  font-weight: 600;
  padding-bottom: 10px;
}

.schedule_ctrl {
  width: 33.33%;
  display: flex;
}

.schedule_ {
  display: flex;
}

.schedule_ctrl h4 {
  margin: auto 15px;
  text-transform: capitalize;
}

.tour-form {
  width: 50%;
  margin-bottom: 10px;
}

.tour {
  width: 90%;
  margin: auto;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-text);
  border: 1.5px solid #c4c4c4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 1px;
  border: 0.5px solid #E5E5E5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--theme-color);
  border: 1.5px solid var(--theme-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--theme-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.calendar-holder {
  width: 50%;
  margin: auto;
}

#calendar-container {
  width: 76%;
  margin: auto;
  padding: 50px 0 0;
  text-align: center;
}

#calendar-dates table {
  width: 100%;
  font-size: 20px;
}

#calendar-dates table tr:nth-child(1) {
  font-weight: 600;
}

#calendar-header {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 30px;
  padding-bottom: 20px;
}

.card-display {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tour-card {
  width: 30%;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
  border-radius: 7px 0;
  margin: 10px 0;
}

.tour-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}

.tc {
  padding: 10px 15px;
}

.tc-info {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}

.tc-info span {
  font-weight: 400;
  margin-left: 15px;
}

.tc-btn {
  padding: 10px 0;
}

.tc-accept {
    width: 30%;
    background-color: var(--theme-color);
    border: none;
    padding: 6px;
    color: var(--white-text);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}

.tc-reject {
  width: 30%;
  padding: 6px;
  border: 1px solid var(--theme-color);
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--theme-color);
  font-weight: 500;
  cursor: pointer;
  margin: 0 10px;
  transition: .5s;
}

.tc-reschedule {
  width: 60%;
  background-color: var(--theme-color);
  border: none;
  padding: 10px;
  color: var(--white-text);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.tc-reschedule:hover,
.tc-accept:hover {
  background-color: var(--theme-hover-deep);
}

.tc-reject:hover {
  background-color: var(--theme-hover-color);
  color: var(--white-text);
}

#insight {
  width: 87%;
  margin: auto;
  padding: 20px 0;
}

.analytics-title {
  font-size: 20px;
  margin-left: 20px;
}

.analytics-data-col {
  width: 25%;
  padding: 0 0 0 50px;
}

.analytics-title {
  font-size: 20px;
  margin-left: 48px;
  padding: 0 0 30px;
}

.data img {
  vertical-align: middle;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  margin-top: -15px;
}

.analytics-row {
  display: flex;
}

.analytics-graph {
  display: flex;
  width: 50%;
  margin: auto;
}

.pro-resources {
  width: 90%;
  margin: auto;
  padding: 50px 0;
  display: flex;
}

.pro-resource {
  width: 100%;
  margin: -10px 0 auto;
  padding: 50px 0 0;
  background-color: #fafafa;
}

.pro-resource h2 {
  color: var(--theme-color);
  font-weight: 500;
  font-size: 30px;
  margin-left: 5%;
}

.pro-resources_nav ul li,
.privacy-content_nav ul li {
  list-style-type: none;
  line-height: 40px;
}

.privacy-content {
  padding-top: 50px;
}

.pro-resources_nav, 
.privacy-content_nav {
  width: 20%;
  padding-bottom: 200px;
}

.pro-resources_nav ul li.p-active,
.privacy-content_nav ul li.p-active {
  font-weight: bold;
}

.pro-resources_nav ul li a:hover,
.privacy-content_nav ul li a:hover {
  font-weight: 600;
}

.pro-resources_main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.pro-res {
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.pro-res figcaption {
  font-weight: 600;
  font-size: 17px;
  text-align: left;
  margin: 0 40px;
  padding-top: 20px;
  text-transform: capitalize;
}

.pro-resources_nav ul li a,
.privacy-content_nav ul li a {
  color: #333;
}

.pro-resources_nav ul li a.p-active, 
.privacy-content_nav ul li a.p-active {
  font-weight: 600;
}

.pro-res img {
  width: 388px;
  height: 238px;
  object-fit: cover;
  border-radius: 5px;
  max-width: 90%;
  transition: .5s ease-in-out;
}

.pro-resources_nav ul,
.privacy-content_nav ul {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.gap {
  padding-bottom: 100px;
}

/* .activity-hero img {
  width: 100%;
} */

.activity-header--main-hero {
  width: 60%;
}

.suggest {
  width: 40%;
  padding: 0 0 0 50px;
}

.activity-header--bg {
  background: url(../img/activity-header.jpg);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.activity-header--main-hero h2 {
  padding-top: 15rem;
  width: 80%;
  margin-left: 2rem;
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
}

.activity-header {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.activity-header--text{
  color: var(--theme-color);
  font-weight: 500;
}

.activity-header--main {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
}

.suggest-group {
  width: 80%;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--theme-color);
}

.suggest-group h3 {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 600;
}

.suggest-group a:after {
  content: "";
  display: block;
  background-color: var(--theme-color);
  height: 2px;
  width: 40%;
  margin: 10px 0;
}

.suggest-group a {
  font-weight: 600;
}

.suggest-group:last-child {
  border: none;
}

.activity-hero img {
  width: 100%;
}

.suggest-group a:hover:after {
  animation: grow .3s linear;
}

.waitlist-hero {
  width: 100%;
}

.waitlist-hero img {
  width: 100%;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

.waitlist-breadcrum {
  width: 80%;
  margin: auto;
  padding: 30px 0 20px;
}

/* Breadcrum css */
/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-weight: 600;
  color: var(--theme-color);
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #c4c4c4;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #c4c4c4;
  text-decoration: none;
  font-weight: 600;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--theme-color);
}
/* Breadcrum css ends */
.dark-grey {
  background-color: #e5e5e5;
}

.waitlist-parent {
  background-color: #fff;
  width: 90%;
  margin: 0 auto 100px;
  padding: 50px 0;
  background: rgba(244, 244, 244, 0.35);
  border-radius: 3px;
}

.waitlist-parent--hero {
  width: 90%;
  background-color: var(--theme-color);
  height: 9rem;
  margin: auto;
  border: 1px solid rgba(196, 196, 196, 0.2);
  border-radius: 7px;
  display: flex;
}

.avatar {
  width: 20%;
  text-align: center;
}

.avatar img {
  width: 65%;
  height: auto;
  border-radius: 50%;
  margin-top: 40px;
}

.parent-info {
  width: 70%;
  margin: auto 0;
  color: var(--white-text);
}

#parent-location {
  font-weight: 500;
  font-size: 15px;
}

#daycare-center {
  font-weight: 600;
}

.parent-row {
  background-color: transparent;
  width: 98%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
}

.message {
  background-color: var(--theme-color);
  padding: 10px 30px;
  border: none;
  color: var(--white-text);
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
}

.parent-search {
  width: 100%;
  background-color: #e5e5e5;
  padding: 100px 0;
}

.parent-search--main {
  width: 70%;
  margin: auto;
  display: flex;
}

.search-icon {
  width: 30%;
  margin-right: 40px;
  text-align: right;
}

.search-daycare {
  width: 70%;
}

.search-daycare .search-form {
  padding-top: 10px;
}

.search-form>label {
  font-weight: 500;
  font-size: 26px;
  width: 100%;
}

.search-form input {
  margin-top: 10px;
}

.search-title {
  padding: 30px 0;
  width: 90%;
  margin: auto;
}

.search-title h3 {
  color: var(--theme-color);
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
}

#filter {
  border-radius: 33px;
  background-color: #f4f4f4;
  padding: 12px 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 500;
}

.search-filter {
  width: 90%;
  margin: auto auto 30px;
  display: flex;
}

.search-img {
  width: 30%;
}

.search-img img {
  width: 100%;
  border-radius: 15px 0 0 15px;
}

.filter-content {
  background-color: #f4f4f4;
  width: 70%;
}

.nav-breadcrum {
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.privacy-main {
  background-color: #f4f4f4;
  margin-top: -10px;
}

.privacy-main--hero {
  width: 90%;
  margin: auto;
}

.privacy-main--hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 7px;
}

.privacy-content--nav {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 20px;
}

.privacy-content--main {
  width: 70%;
  margin: 0 auto;
}

.privacy-content--main h3 {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.privacy-content--inner {
  padding-bottom: 50px;
}

.privacy-content--main h3 small {
  font-size: 20px;
}

.privacy-content--inner h4 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
  padding-bottom: 10px;
}

.privacy-content--inner ul {
  margin-left: 40px;
  padding-top: 10px;
}

.listNumber {
  font-weight: 600;
  margin-right: 10px;
}

.gap-top {
  padding-top: 10px;
}

.contact-main {
  background-color: #f4f4f4;
  margin-top: -10px;
  padding: 20px 0;
}

.contact-main--hero {
  width: 90%;
  margin: auto;
}

.contact-main--hero img {
  width: 100%;
}

.contact-form {
  width: 90%;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09)
}

#cform {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  padding: 50px 0;
}

.contact-control label {
  width: 100%;
  display: flex;
  font-weight: 500;
}

#contact-control-message label {
  font-weight: 500;
}

.contact-control {
  width: 50%;
}

#contact-control-message {
  width: 100%;
}

#cf-message {
  width: 95%;
  padding: 14px 15px;
  margin: 10px 0 20px;
  background-color: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
}

#cf-btn {
  width: 40%;
}

.help-center {
  display: flex;
  width: 90%;
  margin: 0 auto 100px;
}

.help-center-res {
  width: 50%;
}

.help-center-res img {
  width: 80%;
  height: 350px;
  object-fit: contain;
  transition: transform .5s linear .1s;
}

.help-center-res > figcaption > a {
  font-size: 25px;
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
}

.help-center-res img:hover {
  transform: scale(1.026, 1.026);
}

figure img:hover {
  transform: scale(1.026);
}

.help-center-res figcaption {
  padding-top: 10px;
}

#landing {
  display: flex;
}

#landing-parent {
  background-image: url(../img/Parent-landing.jpg);
  height: 100vh;
  width: 50%;
  background-position: top center;
  background-repeat: no-repeat;
}

#landing-provider {
  background-image: url(../img/provider-landing.jpg);
  height: 100vh;
  width: 50%; 
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  position: relative;
  top: 50%;
}

.landing-text h2 {
  color: var(--white-text);
  font-size: 60px;
  font-weight: 600;
  margin: 0 0 5% 20%;
  width: 60%;
  line-height: 70px;
}

.overlay {
  background: linear-gradient(359.67deg, rgba(0, 0, 0, 0.4) 42.59%, rgba(0, 0, 0, 0) 53.66%);
}

.landing-btn {
  background-color: var(--theme-color);
  color: var(--white-text);
  padding: 16px 30px;
  margin: 20% 0 0 30%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color .5s ease-in-out;
}

.landing-btn:hover {
  background-color: var(--theme-hover-deep);
}

.location {
  width: 80%;
  margin: auto;
  display: flex;
}

.error {
  background: url(../img/error.jpg);
  background-position: center center;
  height: 100vh;
  background-size: cover;
}

.error-text {
  position: relative;
  bottom: 0;
  top: 25%;
  width: 50%;
  margin: auto;
  color: #fff;
  text-align: center;
}

.error-text h2 {
  font-weight: 700;
  font-size: 12rem;
}

.error-text h3 {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 20px;
}

.return {
  background: var(--theme-color);
  color: var(--white-text);
  padding: 12px 30px;
  border-radius: 3px;
}

.referral-form {
  width: 90%;
  margin: 10px auto 90px;
  background: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
}

.referral-form h2 {
  padding: 30px;
}

#fr-referral {
  width: 80%;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

#fr-referral > .form-group label {
  font-weight: 500;
  margin-bottom: 30px;
}

#gt-referal {
  width: 80%;
  padding: 20px 0 0;
}

.abt {
  width: 100%;
}

.abt h2 {
  padding: 20px;
  margin-left: 60px;
  color: var(--theme-color);
  font-weight: 600;
}

.abt-img {
  width: 90%;
  margin: auto;
}

.abt-img img {
  width: 100%;
}

.abt-value > h2,
.dir > h2 {
  color: inherit;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px;
}

.abt-value {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.abt-value p {
  line-height: 27px;
  width: 80%;
  margin: auto;
}

.abt-pic:nth-child(1) {
  margin-right: 15px;
}

.abt-pic:nth-child(2) {
  margin-left: 15px;
}

.dir {
  width: 90%;
  margin: auto;
}

.dir p {
  width: 60%;
  line-height: 27px;
}

.abt-value p+p {
  margin-top: .3rem;
}

.abt-value h3 {
  font-weight: 500;
  padding: 10px 0;
}

.value {
  margin-bottom: 80px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.abt-profile {
  width: 90%;
  margin: 20px auto 40px;
  display: flex;
}

.abt-profile--details {
  background-color: #fbfbfb;
  width: 50%;
  padding: 30px;
}

.abt-pic {
  width: 50%;
  display: flex;
  background: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
  border-radius: 0px 7px 7px 0px;
}

.abt-profile--details p {
  line-height: 27px;
}

.abt-pic img {
  width: 50%;
  border-radius: 5px 0;
  object-fit: cover;
}

.abt-profile--jobtitle {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 5px;
}


.career-main {
  width: 90%;
  margin: auto;
}

.career-main h2 {
  font-weight: 500;
  color: var(--theme-color);
  width: 98%;
  margin: auto;
}

.jobs-post {
  background-color: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
  width: 30%;
  padding: 70px 0 0;
  margin: 20px 10px;
  border-radius: 7px;
}

.jobs {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.jobs-post h3 {
  color: var(--theme-color);
  width: 67%;
  font-size: 25px;
  margin-left: 10px;
  padding-bottom: 50px;
  height: 70px;
}

.job-link {
  text-align: right;
  width: 100%;
  float: right;
  font-weight: 600;
}

.job-link span {
  vertical-align: top;
  margin-left: 20px;
}

.job-form {
  display: flex;
  flex-direction: row;
}

.job-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

#ci {
  font-weight: 600;
  width: 100%;
  padding: 30px 0 20px;
}

.form-group--jb {
  width: 45%;
  margin-right: 20px;
}

.form-group--jb label {
  font-weight: 500;
  margin-bottom: 30px;
}

.form-group-jbm {
  width: 97%;
  display: flex;
  flex-direction: column;
}

.form-group-jbm label {
  font-weight: 500;
}

.prreg-main-form.p-reset {
  padding-top: 10%;
}

.email-verify {
  width: 100%;
  padding: 200px 0;
}

.email-verify--m {
  width: 70%;
  margin: auto;
  text-align: center;
}

.email-verify--m h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.email-verify--m p {
  width: 60%;
  text-align: center;
  margin: 0 auto 20px;
  line-height: 30px;
  font-size: 18px;
  font-family: inherit;
}

.re-vrf {
  background-color: var(--theme-color);
  color: var(--white-text);
  padding: 12px 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.re-vrf:hover {
  background-color: var(--theme-hover-color);
}

.messages {
  background-color: #fff;
  width: 90%;
  margin: 50px auto;
  padding: 50px 0 150px;
  display: block;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
}

.heading {
  width: 90%;
  margin: auto;
}

.heading h2 {
  font-weight: 600;
  font-size: 23px;
}

.provider-message--col {
  width: 25%;
}

.message-data {
  padding-top: 30px;
  display: flex;
}

.message-data img {
  vertical-align: middle;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  margin-top: -15px;
}

.provider-message {
  display: flex;
  padding-bottom: 20px;
  margin: 0 auto 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
  width: 90%;
}

.provider-message:nth-child(2) {
  margin-top: 20px;
}

.provider-message--col:nth-child(2) {
  width: 60%;
}

.provider-message--col:nth-child(3) {
  width: 15%;
}

.provider-message--col h3 {
  font-weight: 600;
}

.provider-message--col:nth-child(3) > .message-data > p {
  text-align: center;
  padding-left: 50px;
  margin: auto;
}

#prev-btn {
  width: 90%;
  margin: auto;
}

.message-chat {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.sender-avatar {
  display: flex;
}

.sender {
  width: 50%;
  float: left;
}

.message-l {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-left: 30px;
}

.message-time {
  margin: 2% 0 0 20%;
}

.more-l {
  vertical-align: middle;
  margin: auto 5px;
  cursor: pointer;
}

.receiver {
  width: 50%;
  float: right;
  text-align: right;
  padding-top: 50px;
}

.message-right {
  display: flex;
  justify-content: flex-end;
}

.message-r {
  background-color: var(--theme-color);
  color: var(--white-text);
  padding: 20px;
  border-radius: 5px;
}

.more-r {
  vertical-align: middle;
  margin: auto 5px;
  cursor: pointer;
}

.message-holder {
  width: 97%;
}

.message-holder {
  width: 97%;
  padding: 50px 0;
}

.sender-avatar img {
  width: 70px;
  height: 70px;
}

.typing-bar {
  width: 90%;
  padding: 100px 0 0;
  display: flex;
  margin-left: 13%;
  position: relative;
}

.message-input {
  width: 90%;
  display: flex;
}

#message-avatar {
  width: 7%;
}

#message-avatar img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 15px;
}

#chat-message {
  border-radius: 30px;
  padding-left: 46px;
}

#chat-message::placeholder {
  color: #999;
  font-family: inherit;
  font-weight: 500;
}

.emoji {
  margin: 21px -36px 0 -85px;
  cursor: pointer;
  z-index: 1;
}

.send-button {
  margin: 13px 0 0 50px;
  cursor: pointer;
}

.social-link {
  text-align: center;
  border-top: 0.5px solid #C4C4C4;
  padding-top: 15px;
}

.daycare {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  background: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.daycare-pictoral {
  width: 48%;
}

.daycare-info {
  width: 48%;
}

.daycare-pictoral > img {
  width: 100%;
}

.dayowner img {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: -50px 0 0 20px;
}

.dayowner {
  display: flex;
  width: 80%;
}

.dayowner h3 {
  width: 40%;
  padding: 10px 0 0 20px;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}

.daycare-virtual {
  width: 50%;
}

.daycare-virtual img {
  width: 100%;
}

.daycare-virtual h4 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  text-transform: capitalize;
}

.daycare-virtual a {
  color: inherit;
}

.daycare-virtual h3 {
  font-size: 17px;
  padding: 5px 0;
}

.daycare-virtual h3 svg {
  vertical-align: middle;
}

.daycare-info h2 {
  font-weight: 600;
  line-height: 50px;
}

.dy-cta {
  display: flex;
  padding: 10px 0 20px;
  border-bottom: 1px solid #E5E5E5;
}

.dy-cta-col {
  width: 50%;
}

.dy-cta-col p {
  font-weight: 600;
  cursor: pointer;
}

.dy-cta-col p:hover {
  color: var(--theme-color);
}

.dy-cta-col p svg {
  vertical-align: middle;
}

.dya-more {
  display: flex;
  margin: 20px 0;
}

.dya-more-col {
  width: 50%;
}

.dya-more-col h3 {
  font-weight: 600;
  font-size: 17px;
}

.dya-more-col h3 svg {
  vertical-align: middle;
}

.dya-more-col p {
  margin: 10px 0;
  font-size: 14px;
}

.dya-more-fl {
  width: 100%;
}

.dya-more-fl p {
  font-size: 14px;
  line-height: 27px;
}

.dya-more-fl h3 {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}

.daycare-info p {
  line-height: 27px;
  margin-bottom: 15px;
}

#lis {
  margin-left: 30px;
}

a.provider-message:hover {
  background-color: #f6f6f6;
}
a.provider-message {
  color: #333;
}

.review-holder {
  width: 100%;
  background: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 40px;
}

.reviewd {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.otherd {
  width: 30%;
  height: 450px;
  background: #F4F4F4;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-sizing: border-box;
  border-radius: 7px;
}

.reviewd-hld {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.review-heading h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.review-form {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

.review-avatar {
  width: 10%;
  margin: auto;
  vertical-align: middle;
}

.review-avatar img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.review-form--heading {
  width: 85%;
  margin-top: 20px;
}

.review-form--heading h3 {
  font-size: 25px;
}

#formreview {
  width: 80%;
  margin: auto;
}

#reviewinput {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  background-color: transparent;
}

#review-btn {
  background-color: var(--theme-color);
  color: var(--white-text);
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  float: right;
  cursor: pointer;
}

#review-btn:hover {
  background-color: var(--theme-hover-color);
}

.review-form--form {
  width: 100%;
  padding-left: 36px;
  margin-top: 20px;
}

.otherd h3 {
  margin: 10px;
}

.other-dy--info {
  width: 70%;
}

.other-day {
  display: flex;
  margin-bottom: 20px;
}

.daycare-avatar img {
  width: 70px;
  height: 70px;
}

.other-dy--name {
  font-size: 15px;
  width: 80%;
  cursor: pointer;
}

.other-dy--name:hover {
  color: var(--theme-color);
}

.other-dy-loc {
  margin-top: 0;
  font-size: 15px;
  width: 90%;
}

.dya-more.border {
  border-bottom: 1px solid #E5E5E5;
}

.review-hld--main {
  width: 60%;
}

.review-m {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}

.review-m p {
  line-height: 27px;
  margin-bottom: 20px;
}

img.rev-img {
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

.rvh {
  height: 300px;
}

.review-cta {
  width: 100%;
  margin: auto;
  border-top: 1px solid #eee;
}

.review-cta--left {
  display: flex;
  width: 70%;
  padding-top: 10px;
  align-items: flex-end;
}

.review-cta--left p {
  font-size: 14px;
  width: 20%;
  margin-right: 10px;
  cursor: pointer;
}

.review-cta--left p:nth-child(1) {
  width: 28%;
}

.review-cta--right p {
  font-size: 14px;
  cursor: pointer;
  width: 40%;
  float: right;
}

.review-cta--left p svg,
.review-cta--right p svg {
  width: 20px;
  height: 15px;
}

.review-cta--right {
  width: 30%;
  text-align: right;
  margin-top: 15px;
}

.parent-review-hld {
  width: 90%;
  margin: auto;
  display: flex;
  height: 40px;
}

.review-map {
  width: 100%;
}

.review-map img {
  width: 100%;
}

.accordion.active {
  box-shadow: none;
  border: none;
}

.reserve {
  width: 70%;
  margin: auto;
  background-color: #fff;
}

#reserve {
  position: fixed;
  display: none;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  z-index: 1;
}

#tour {
  position: fixed;
  display: none;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  z-index: 1;
}

#report {
  position: fixed;
  display: none;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  z-index: 1;
}

.reform {
  padding: 20px 50px;
}

.reform .form-group-up label {
  font-weight: 500;
}

.rep.updateform {
  width: 70%;
  margin: 30px auto;
}

.report-main h3 {
  width: 70%;
  margin: auto;
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
}

.report-main p {
  width: 70%;
  margin: auto;
  font-weight: 500;
  padding-top: 5px;
}

p.rev-text {
  font-size: 12px;
}

.heading h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.otherd h4 {
  margin: 20px;
  font-weight: 600;
  font-size: 17px;
}

p.lt-dy--name {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 500;
  width: 80%;
}

.vitual-tour {
  width: 80%;
  margin: auto;
}

.virtual-tour--main {
  background-image: url(../img/virtual-tur.png);
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-top: 20px;
}

.virtual-tour--btn {
  width: 30%;
  margin: auto;
  text-align: center;
  padding-top: 150px;
}

.virtual-tour--btn h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--white-text);
}

.bread-nav {
  display: flex;
}

.drop-down {
  width: 30%;
  margin: auto;
}

.drop-down #frt {
  float: right;
  padding: 10px 20px;
  background: rgba(244, 244, 244, 0.35);
  border: 1px solid rgba(196, 196, 196, 0.2);
  border-radius: 3px;
  cursor: pointer;
}

#frt svg {
  vertical-align: middle;
  margin-left: 20px;
}

.other-tour {
  width: 80%;
  margin: 0 auto 150px;
}

.other-tour div {
  margin-right: 20px;
}

.other-tour--inner {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.other-tour div p {
  font-size: 14px;
}

.err-text {
    font-size: 12px;
    color: red;
    margin-bottom: 15px;
    margin-top: -20px;
    display: none;
}

.filter-content-- .daycare-avatar {
  width: 15%;
  text-align: center;
  margin-top: 10px;
}

.daycare-avatar {
  width: 30%;
  text-align: center;
  margin-top: 10px;
}

.av-heading {
  margin-top: 10px;
}

.av-heading h3 {
  font-size: 25px;
  font-weight: 600;
}

.av-heading p {
  font-size: 14px;
}

.av-content {
  width: 100%;
  padding-top: 10px;
}

.av-content p {
  width: 90%;
  margin: auto;
  line-height: 27px;
}

.filter-content-- {
  display: flex;
  margin-top: 10px;
}

.av-ft {
  font-size: 15px;
  font-weight: 600;
  padding-top: 5px;
}

.av-info {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 10px;
  font-weight: 500;
  font-size: 14px;
}

.av-more-info {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 10px;
}

.av-col {
  width: 33%;
}

.av-col p {
  width: 80%;
  font-size: 14px;
  line-height: 27px;
}

.av-col h4 {
  font-size: 17px;
  font-weight: 500;
}

.av-col h4 svg {
  vertical-align: middle;
}

p.cap {
  width: 45%;
}

span.full {
  color: red;
}

.filter-prompt {
  width: 300px;
  background-color: #fff;
  position: absolute;
  padding: 20px 0 50px 30px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px #33333333;
  display: none;
}

.filter-prompt h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.filter-prompt h4 span {
  margin-left: 65px;
  cursor: pointer;
}

.filter-prompt form {
  margin-left: 20px;
}

.filter-prompt .form-group {
  width: 100%;
}

.filter-prompt .form-group label {
  font-weight: 400;
  line-height: 30px;
}

.filter-hd {
  padding: 10px 0;
}

.filter-hd h5 {
  font-size: 16px;
  font-weight: 500;
}

.form-group label input {
  margin-right: 10px;
}

#filterbtn:hover {
  fill: var(--theme-color);
}

.graph-chart {
  position: relative;
  width: 80%;
  margin: auto;
}

.graph-chart--text {
  text-align: center;
  margin-bottom: 20px;
}

.graph-chart--text h3 {
  font-weight: 500;
}

.graph-chart--text p {
  font-size: 14px;
}

li.nav-avatar {
  vertical-align: middle;
}

li.nav-avatar a span svg {
  vertical-align: text-top;
  margin-left: 16px;
}

.dropdown li {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: #FFFFFF;
  border-radius: 7px;
  padding: 15px;
  margin-right: 25px;
  box-shadow: 1px 3px 5px #00000042;
}

.nav-avatar:hover .dropdown {
  display: block;
}

.dropdown li a {
  color: #333;
}

.dropdown li a:hover {
  color: var(--theme-color);
}

.reportCounter {
  background-color: #FF4133;
  color: var(--white-text);
  border-radius: 100%;
  padding: 0 6px;
  margin: -3px -10px 0 -14px;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
}

.messageCounter {
  background-color: #FF4133;
  color: var(--white-text);
  border-radius: 100%;
  padding: 0 6px;
  margin: -6px 0 0 70px;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
}

.notificationCounter {
  background-color: #FF4133;
  color: var(--white-text);
  border-radius: 100%;
  padding: 0 6px;
  margin: -6px 0 0 80px;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
}

.form-group-ref {
  width: 97%;
}

#fr-referral > .form-group-ref label {
  font-weight: 500;
  margin-bottom: 30px;
}

.user-profile {
  padding: 50px 0;
}

.accordion.user {
  background-color: rgba(244, 244, 244, 0.35);;
}

.panel.user {
  background-color: rgba(244, 244, 244, 0.35);
  box-shadow: none;
  border: none;
}

.proile-user {
  width: 100%;
  padding: 30px 0;
}

.user img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.user span {
  background-color: #fff;
  padding: 8px 6px;
  border-radius: 100%;
  position: relative;
  bottom: 10px;
  right: 33px;
  border: 1px solid rgba(196, 196, 196, 0.2);
  cursor: pointer;
}

.user span svg {
  vertical-align: middle;
}

.form-control.users {
  background-color: #fff;
  border-radius: 3px;
}

.p-user label {
  font-weight: 500;
}

input#upload {
  display: none;
}

.choose {
  cursor: pointer;
}

.virtual {
  display: none;
}

.upload {
  position: relative;
  top: 30px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.upload:hover {
  opacity: 1;
}

span.imag {
  width: 130px;
  margin-top: 10px;
  height: 100px;
  object-fit: contain;
}

.imag {
  width: 100%;
  display: none;
  height: 120px;
  object-fit: contain;
}

#email {
  text-transform: lowercase;
}

.form-forgot a:hover {
  color: var(--theme-color);
}

.tableHead tr th {
  border: 1px solid #333;
  padding: 15px;
  width: 33%;
}

.privacy-table {
  border-collapse: collapse;
}

.tableHead tr {
  text-align: left;
}

.tablerow td {
  border: 1px solid #333;
  padding: 15px;
  width: 33%;
  vertical-align: text-top;
}

h2.values-heading {
  margin-top: 50px;
  padding-bottom: 60px;
}

.indent {
  margin-left: 30px;
}

.reminder {
  background-color: #fff;
  width: 90%;
  margin: 50px auto;
  padding: 50px 0;
  display: flex;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
}

.reminder-col {
  width: 16%;
  padding: 20px;
}

.reminder-col:nth-child(2) {
  width: 25%;
}

.reminder-col:nth-child(4), 
.reminder-col:nth-child(5) {
  width: 14%;
}

.reminder-col h2 {
  font-size: 18px;
}

.reminder-row {
  width: 100%;
  padding: 20px;
  display: flex;
}

.reminderForm {
  background-color: #fff;
  width: 90%;
  margin: 50px auto;
  padding: 50px 0;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
}

.reminder-form form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-left: 50px;
}

.form-group-ref label {
  display: block;
  font-weight: 500;
}

.reminder-form .form-group label {
  font-weight: 500;
}

.reminder-message {
  font-size: 16px;
  line-height: 27px;
  color: #333;
  font-weight: 400;
}

.reminder-modal {
  position: fixed;
  display: none;
  top: -60px;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
  z-index: 1;
}

.reminder-form {
  width: 60%;
  margin: auto;
  background-color: #fff;
  padding: 30px 30px 20px;
}

.close {
  width: 10%;
  float: right;
  text-align: center;
}

.close img {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

/* New */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size:20px;
    color :#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.checked-star {
  color: #c59b08!important;
}

.sub-hero {
  width: 100%;
}

.sub-hero img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.sub-main {
  width: 100%;
}

.sub-text {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.sub-text h3 {
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px;
}

.sub-text p {
  margin-top: 10px;
}

.sub-cards {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 40px auto 15%;
}

.sub-card {
  width: 35%;
  text-align: center;
  border: 1px solid rgba(196, 196, 196, 0.2);
  box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  border-top: 15px solid var(--theme-color);
  margin: 0 20px;
  padding: 30px 0;
}

.sub-card h4 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

.price {
  font-size: 20px;
  color: var(--theme-color);
  font-weight: 600;
  padding-top: 10px;
}

.price-table {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.price-addon {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.price-addon:nth-child(3) {
  border: none;
}

.price-addon h5 {
  font-size: 16px;
  font-weight: 600;
}

.tax {
  font-size: calc(100% - 20%);
  font-weight: 500;
}

.sub-btn {
  background-color: var(--theme-color);
  padding: 10px 35px;
  border: none;
  color: var(--white-text);
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  transition: .5s background-color ease-in-out;
}

.sub-btn:hover {
  background-color: var(--theme-hover-deep);
}

.renew-btn {
  background-color: var(--theme-color);
  color: var(--white-text);
  padding: 12px 30px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s background-color ease-in-out;
}

.renew-btn:hover {
  background-color: var(--theme-hover-deep);
}

.email-verify--m img {
  margin-bottom: 30px;
}

.img-filt img {
  filter: brightness(0.9);
}

.menu-list-light {
  display: flex;
  justify-content: flex-end;
}

.menu-cta-login {
  border: 2px solid var(--theme-color);
  padding: 7px 25px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.menu-cta-login:hover {
  color: var(--white-text);
}

a.menu-cta-login:after {
  height: 0;
}

.menu-cta-signup {
  background-color: #02A2AF;
  border: 2px solid #02A2AF;
  padding: 7px 25px;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

a.menu-cta-signup:after {
  height: 0;
}

.prreg-main-form.pd {
  padding: 6% 0 10%;
}

.form-center {
  width: 70%;
  margin: auto;
}

.form-group.si {
  width: 100%;
}

.pr-submit.lg {
  width: 95%;
}

.prreg_notifier__mobile {
  display: none;
}

.lg-action {
    display: flex;
    width: 100%;
}

.menu-list-light li a:active {
    display: block;
    border-bottom: 2px solid #fff;
}

.anchor img {
  width: 50px;
  height: 50px;
  text-align: center;
  animation: 1s pulse linear infinite;
  filter: grayscale(1);
}

.anchor {
  width: 100%;
  margin: auto;
  margin-top: -42px;
  text-align: center;
}

@keyframes pulse {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: 5px;
  }

  50% {
    margin-bottom: 10px;
  }

  100% {
    margin-bottom: 15px;
  }

}

.hero-img {
  width: 100%;
  height: 100%;
}

.req {
    font-weight: 500;
    font-size: 12px;
}

/* Ends here */

@media screen and (max-width: 1024px) {
  .landing-text h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 900px) and (max-width:1024px) {
  .hero-desc-provider h1 {
    width: 100%;
  }

  #pr-btn {
    width: 65%;
    margin-left: 0px;
    border-radius: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .waitlist-col h2 {
      font-size: 13px;
  }
}



@media screen and (min-width: 1300px){
  .hero-desc {
    width: 35%;
    position: absolute;
    top: 35%;
    left: 60%;
  }

  .help-center-res > figcaption > a{
    margin-left: 20px;
  }

  .profile-menu li a {
    margin: 0 27px;
  }

  .landing-text h2 {
    width: 70%;
  }

  .email-verify--m h2 {
    width: 80%;
    margin: auto;
  }

} 

@media screen and (max-width:1300px) {
  .daycare-virtual {
    width: 58%;
  }
}

@media screen and (min-width: 1440px) {
  #landing-parent {
    background-size: cover;
  }
  
  .pro-res figcaption {
    margin: 0 70px;
  }
}

/*Latest styles*/
.nav-avatar img {
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.schedule-reserve {
    width: 90%;
    margin: auto;
    background-color: var(--white-text);
    padding: 0;
    box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(196, 196, 196, 0.2);
    border-radius: 7px;
}

.schedule-reserve .analytics {
  padding: 20px 0;
}

.panel .dropify-wrapper {
  padding: 5px 0;
}

.dropify-wrapper .dropify-message p {
  font-size: 18px;
}

.user .dropify-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  max-width: 150px;
}

.alert {
  width: 90%;
  margin: auto;
  padding: 15px 0;
  border-radius: 5px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin-bottom: 15px;
}

.alert-danger {
  background-color: #ffc107;
  margin-bottom: 15px;
}

.alert p {
  padding: 0 30px;
}

.filter-btn .pr-btn 
{
  width: auto;
  background-color: var(--theme-color);
  padding: 15px;
  border: var(--theme-color);
  color: var(--white-text);
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
}

.message-input .send-button button {
  background: transparent;
  cursor: pointer;
}

/*Addition*/
.wailist-array {
  width: 95%;
  margin: auto;
}

.wailist-array table {
  width: 100%;
}

thead .t-row th {
  font-weight: 600;
  font-size: 18px;
}

.t-row th {
  width: 35%;
  text-align: left;
}

tbody .t-row td {
  padding: 15px 0;
}

.t-row td a img {
  vertical-align: middle;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.t-row td a {
  color: #333;
  font-weight: 600;
}

.t-row td a:hover {
  color: var(--theme-hover-deep)
}

tr.t-row:hover {
  background-color: #f9f9f9;
}

.waitlist-heading {
  text-align: center;
  color: var(--theme-color);
  font-size: 30px;
  font-weight: 500;
}

.cancel svg {
  width: 150px;
}

.cancel {
  text-align: center;
}

.cancel p {
  font-size: 20px;
  width: 60%;
  margin: auto;
  font-weight: 400;
  padding: 20px 0;
  margin-bottom: 20px;
}

.cancel h1 {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 600;
}

.block {
  display: block;
}

.daycare-rating {
  display: flex;
  flex-direction: column;
}

.daycare-rating div p {
  margin-top: -16px;
}