<template>

    <div class="messages" id="messaging">
  
            <div 
                class="message-holder"
                v-for="(message, index) in allMessages"
                :key="index">
                
                <div class="message-chat"
                v-if="(user.id !== message.user_id)">

                    <!-- <p>{{ msg.message }}</p> -->
                    
                    <!--Sender-->
                    <div class="sender">
                        <div class="sender-avatar">
                            <img v-if="message.receiver.image" :src="'../../../asset/'+message.receiver.image" alt="avatar">
                            <div class="message-l" id="message">
                                <p> {{ message.message }}</p>
                            </div>
                        </div>

                        <div class="message-time">
                            <p><small>{{message.created_at | formatDate}}</small></p>
                        </div>
                    </div>
                </div>

                <div class="message-chat"
                v-else>
                        <!-- Receiver   -->
                        <div class="receiver">
                            <div class="message-right">
                                
                                <div class="message-r" id="message">
                                    <p>{{message.message}}</p>
                                </div>
                            </div>
            
                            <div class="message-time">
                                <p><small>{{message.created_at | formatDate}}</small></p>
                            </div>
                        </div>

                </div>

            </div>
  
            <!---->
            <div class="typing-bar">
                <div id="message-avatar">
                    
                    <img v-if="this.user.image" :src="'/user/avatars/'+user.image" alt="avatar">
                    <img v-else src="/assets/img/avatar.png" alt="">
                    
                </div>

                <div class="emoji-div">
                    <picker v-if="emoStatus" set="emojione" @select="onInput" title="Pick your emoji…" :style="{ position: 'absolute', top: '97%', right: '50px' }" />
                </div>

                <div class="message-input">

                    <input 
                    type="text" 
                    name="message" 
                    v-model="message" 
                    id="chat-message" 
                    placeholder="Type your message..." 
                    class="form-control" 
                    @keydown="isTyping"
                    @keyup.enter="sendMessage"/>
                    
                    <div class="emoji">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" @click="toggleEmo">
                            <path d="M16.1984 10.7992C17.1926 10.7992 17.9984 9.99333 17.9984 8.99922C17.9984 8.00511 17.1926 7.19922 16.1984 7.19922C15.2043 7.19922 14.3984 8.00511 14.3984 8.99922C14.3984 9.99333 15.2043 10.7992 16.1984 10.7992Z" fill="#999999"/>
                            <path d="M7.8 10.7992C8.79411 10.7992 9.6 9.99333 9.6 8.99922C9.6 8.00511 8.79411 7.19922 7.8 7.19922C6.80589 7.19922 6 8.00511 6 8.99922C6 9.99333 6.80589 10.7992 7.8 10.7992Z" fill="#999999"/>
                            <path d="M12 19.1984C14.736 19.1984 17.064 17.2064 18 14.3984H6C6.936 17.2064 9.264 19.1984 12 19.1984Z" fill="#999999"/>
                            <path d="M11.988 0C5.364 0 0 5.376 0 12C0 18.624 5.364 24 11.988 24C18.624 24 24 18.624 24 12C24 5.376 18.624 0 11.988 0ZM12 21.6C6.696 21.6 2.4 17.304 2.4 12C2.4 6.696 6.696 2.4 12 2.4C17.304 2.4 21.6 6.696 21.6 12C21.6 17.304 17.304 21.6 12 21.6Z" fill="#999999"/>
                        </svg>                  
                    </div>

                    <div class="send-button">
                        <button @click="sendMessage">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z" fill="#02A2AF"/>
                                <path d="M13.3346 15.025L19.5846 17.7083L13.3346 16.875V15.025ZM19.5846 22.2917L13.3346 24.975V23.125L19.5846 22.2917ZM11.668 12.5V18.3333L24.168 20L11.668 21.6667V27.5L29.168 20L11.668 12.5Z" fill="white"/>
                            </svg>  
                        </button>   
                    </div>
                </div>
            </div>
            <p class="typing" 
            v-if="typingFriend.first_name">{{typingFriend.first_name}} is typing..</p>
        </div>
</template>

<script>
    import { Picker } from 'emoji-mart-vue'

    export default {
        props: ['user', 'parent_id', 'emessages'],

        components: {
            Picker
        },

        data() {
            return {
                message: null,
                receiver_id: null,
                allMessages: [],
                typingFriend: {},
                typingTime: null,
                emoStatus: false
            }
        },

        methods: {
            isTyping() {
                Echo.private(`Pchannel.${this.parent_id}`).whisper('typing', {
                    user:this.user
                });
            },

            sendMessage(message) {
                
                //check if there is message
                if(!this.message) {
                    console.log('Enter a message');
                }

                axios.post('/message',{message: this.message, receiver_id: this.parent_id}).then(response => {
                    this.message=null;
                    this.allMessages.push(response.data.message)
                    setTimeout(this.scrollToEnd,100);
                });
            },

            fetchMessages() {
                axios.get('/chat/'+this.parent_id).then(response => {
                    this.allMessages = response.data;
                    setTimeout(this.scrollToEnd, 100);
                });
            },

            scrollToEnd() {
                document.getElementById('messaging').scrollTo(0,999);
            },

            onInput(e){
                if(!e){
                    return false;
                }
                if(!this.message){
                    this.message=e.native;
                }else{
                    this.message=this.message + e.native;
                }
            },

            toggleEmo() {
                this.emoStatus = !this.emoStatus;
            }
        },

        mounted() {
            let self = this;
            window.addEventListener('keyup', function(event) {
                // If  ESC key was pressed...
                if (event.keyCode === 27) {
                    // try close your dialog
                    self.emoStatus = false;
                }

            });
        },

        created() {
            this.fetchMessages();
            
            Echo.private(`Pchannel.${this.user.id}`)
            .listen('.new.chat', (e) => {
                // console.log(e.message)
                this.allMessages.push(e.message);
                setTimeout(this.scrollToEnd, 100);
            })
            .listenForWhisper('typing', (e) => {

                if(e.user.id == this.parent_id) {
                    this.typingFriend = e.user;

                    if (this.typingTime) clearTimeout();
                    
                    this.typingTime = setTimeout(() => {
                        this.typingFriend = {}
                    }, 3000);
                }
            });

        }

    }
</script>
<style lang="css" scoped>
    .typing {
        text-align: center;
        margin: auto;
        color: #02A2AF;
    }
</style>